<img src="assets/image3.jpeg" width="100%" height="340" alt="" />
<hr>
<html>
   <head>
      <title>Home Page</title>
   </head>

   <body>
      <h3 style="text-align:center;" >Welcome to Qualified Clothing Online Store</h3>
      <h4 style="text-align:center;" >Unlock Your Style</h4>
      <p style="text-align:center;">
        
        Our new collection of tropical prints are here
        <br>
        and ready for every reason of your life.
        <br>
        Hand-crafted by our word. Class designers, get 
         <br>
        this new look exclusively online!
          <br>
        So time to explore!
      </p>
   </body>
</html>
