<img src="assets/image1.jpeg" width="100%" height="340" alt="" />
<hr>
<html>
   <head>
      <title>About Us</title>
   </head>

   <body>
      <h2 style="text-align:center;" >Welcome to Qualified Clothing Online Store</h2>
      <p style="text-align:center;">
        Our business is based on "selling more for less"
        <br>
        A Qualified Clothing Online Store is the new e-commerce store.
        <br>
        A continuously envolving shopping center online.
         <br>
        "It is all part of our unwavering commitment to creating
         <br>
        opportunities and bringing values to customers."
          <br>
        Just like any shopping center, there is always something exciting,
          <br>
        So time to explore!
      </p>
   </body>
</html>