<div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td><img src="{{item.image}}" width="50" alt=""></td>
          <td>{{item.title}}</td>
          <td>1</td>
          <td>{{item.price | currency}}</td>
          <td><button (click)="onClickRemove(item)" class="btn btn-danger" type="submit">remove</button>
          </td>
        </tr>
      </tbody>
  
      <button class="btn btn-primary" (click)="onClickCheckout()" type="submit">Checkout</button>
  
    </table>
  
  </div>
