<div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">User Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.orderId}}</td>
          <td>{{order.userId}}</td>
          <td>{{order.productName}}</td>
          <td>1</td>
          <td>{{order.price | currency}}</td>
        </tr>
      </tbody>  
    </table>
  
  </div>
