<div >
    <img src="assets/image2.jpeg"  width="100%" height="240" left="50%" alt="" />

</div>
<div style="text-align:center;">
    <p>Please fill this form in a decent manner</p>
    <form action="" id="ContactUs" method="" >
    
      <table style="border:0p; margin-left:auto;margin-right:auto;">
        <tr>
          <td>
            <label for="Name">Name*:</label>
          </td>
          <td>
            <input name="Name" type="text" maxlength="60" style="width:100%;max-width:250px;" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="PhoneNumber">Phone number:</label>
          </td>
          <td>
            <input name="PhoneNumber" type="text" maxlength="43" style="width:100%;max-width:250px;" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="FromEmailAddress">Email address*:</label>
          </td>
          <td>
            <input name="FromEmailAddress" type="text" maxlength="90" style="width:100%;max-width:250px;" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="Comments">Comments*:</label>
          </td>
          <td>
            <textarea name="Comments" rows="7" cols="40" style="width:100%;max-width:350px;"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            * - required fields
          </td>
          <td>
            <div style="float:right"></div>
            <input name="skip_Submit" type="submit" value="Submit" />
          </td>
        </tr>
      </table>
    </form>
</div>